
*.ipch
*.opensdf
*.sdf
*.gch
*.psd
*.mid
*.pkg
*.vsp
*.bat
*.app
*.xcscmblueprint
*.xcbkptlist
*.db
*.idb
*.opendb
*.tlog
*.dmg

UserInterfaceState.xcuserstate
resources.res
Thumbs.db
cloc.pl

bin/
build/
JuceLibraryCode/
JuceModules/
Trash/
ThirdParty/ASIO
ThirdParty/VST_SDK

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
.objs/
