[submodule "ThirdParty/JUCE"]
	path = ThirdParty/JUCE
	url = git@github.com:peterrudenko/JUCE.git
[submodule "ThirdParty/HopscotchMap"]
	path = ThirdParty/HopscotchMap
	url = git@github.com:peterrudenko/hopscotch-map.git
