*.app
*.aps
*.bak
*.bat
*.cache
*.db
*.dmg
*.exe
*.filters
*.gch
*.idb
*.ilk
*.iml
*.iobj
*.ipch
*.ipdb
*.lib
*.log
*.mid
*.ncb
*.obj
*.opendb
*.opensdf
*.p12
*.pch
*.pdb
*.pkg
*.psd
*.rsa
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.tlog
*.user
*.vsp
*.vspscc
*.xcbkptlist
*.xcscheme
*.xcscmblueprint
*.xcworkspacedata
*_i.c
*_p.c

xcschememanagement.plist
UserInterfaceState.xcuserstate
resources.res
Thumbs.db
cloc.pl
local.properties
.externalNativeBuild
.gradle
.idea

obj/
.objs/
build/
.cxx/
cmake-build-*/
ThirdParty/ASIO/asio
ThirdParty/ASIO/common
ThirdParty/ASIO/driver
ThirdParty/ASIO/host
ThirdParty/ASIO/*.pdf
ThirdParty/ASIO/*.txt
