
*.ipch
*.opensdf
*.sdf
*.gch
*.psd
*.mid
*.pkg
*.vsp
*.bat
*.app
*.xcscmblueprint
*.xcbkptlist
*.db
*.idb
*.opendb
*.tlog
*.dmg
*.xcscheme
*.xcworkspacedata
*.iml
*.p12
*.rsa
xcschememanagement.plist

UserInterfaceState.xcuserstate
IInAppBillingService.java
resources.res
Thumbs.db
cloc.pl
CMakeLists.txt
.externalNativeBuild
.gradle
.idea

build/
Trash/
ThirdParty/ASIO/asio
ThirdParty/ASIO/common
ThirdParty/ASIO/driver
ThirdParty/ASIO/host
ThirdParty/ASIO/*.pdf
ThirdParty/ASIO/*.txt

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
.objs/
