<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.music</string>
    <key>NSHumanReadableCopyright</key>
    <string>Peter Rudenko</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIInterfaceOrientation</key>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <key>UIInterfaceOrientation~ipad</key>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIStatusBarHidden~ipad</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UIViewControllerBasedStatusBarAppearance~ipad</key>
    <false/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app requires access to Bluetooth to function correctly.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app requires access to Bluetooth to function correctly.</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>fm.helio.mobile</string>
    <key>CFBundleName</key>
    <string>Helio</string>
    <key>CFBundleDisplayName</key>
    <string>Helio</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>3.5</string>
    <key>CFBundleVersion</key>
    <string>3.5</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>bluetooth-central</string>
    </array>
  </dict>
</plist>
