<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>manufacturer</key>
        <string>heli</string>
        <key>type</key>
        <string>auri</string>
        <key>subtype</key>
        <string>host</string>
        <key>name</key>
        <string>Helio: Host output</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.music</string>
    <key>NSHumanReadableCopyright</key>
    <string>Peter Rudenko</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIInterfaceOrientation</key>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <key>UIInterfaceOrientation~ipad</key>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIStatusBarHidden~ipad</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UIViewControllerBasedStatusBarAppearance~ipad</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.peterrudenko.helio</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>helio</string>
          <string>helio-1.6.0.audiobus</string>
        </array>
      </dict>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>Helio</string>
    <key>CFBundleDisplayName</key>
    <string>Helio</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.7.6</string>
    <key>CFBundleVersion</key>
    <string>1.7.6</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIBackgroundModes</key>
    <array/>
  </dict>
</plist>
